.ol-attribution {
    font-family: cursive;
}

.ol-full-screen {
    left: 36px;
}

.ol-rotate {
    left: 64px;
}

.ol-mouse-position {
    left: 128px;
    font-family: sans-serif;
    font-size: 8pt;
}

.ol-overviewmap {

}

.ol-scale-line {
    font-family: fantasy;
    font-size: 28pt;
    position: relative;
    bottom: 40px;
    width: 120px;
    background-color: rgba(0,0,0,1);
}
